html, body {
    min-width: 576px;
}

#kontenjer {
    height: 600px;
    width:100%;
}

#display1, #display2 {
    text-shadow: 4px 4px 8px #007bff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary{
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark{
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger{
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}